.blog-header {
    @include header-constant(url(../assets/blog-header.jpg),75vh);
} 
main {
    background: $background-color;
}

.main-section {
    display: flex;
    padding-top: 50px;
    .left-side {
        width: 30%;
        .aside-image {
            position: relative;
            left: -100px;
            width: 125%;
        }
        img {
            box-shadow: 28px 7px 0px -5px $secondary-background-color;
        }
        div:last-of-type {
            h4:first-of-type {
                letter-spacing: 0;
            }
            box-shadow: 8px 0px 0px 1px $secondary-background-color;
            padding: 20px 0 20px 20px;
            background-color: $secondary-background-color;
            h4 {
                color: $accent-color;
                }
                li {
                    font-family: 'Barlow', sans-serif;
                    list-style-type: disc;
                    margin-left: 15px;
                    font-size: 2rem;
                }
        }
    }
    .right-side {
        width: 70%;
        position: relative;
        top: -200px;
        right: -100px;
        .blog-article {
            img {
                box-shadow: -20px 20px 0px -4px $accent-color;
                position: relative;
                right: 0px;
            }
        }
        .blog-article-container {
            box-shadow: 0px 8px 0px 8px $background-color, -5px 11px 0 11px $accent-color;
            padding: 40px 20px 40px 60px;
            h2 {
            color: $accent-color; 
                + p {
                    font-weight: 800;
                }
            }
            p {
                padding: 10px 0;
            }
        }
    }
}

.blog-bottom {
    padding: 50px 70px;
    h3 {
        color: $font-color;
    }
    .comment-section {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        div:first-of-type {
            width: 10%;
            margin-top: 8px;
        }
        &-container {
            width: calc(90% - 20px);
            margin-left: 20px;
            p:first-of-type {
                color: $accent-color;
                font-weight: 600;
            }
        }
    }
}

