/* stripping style */
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
ul, 
p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}

/* root size */

html {
    font-size: 62.5%;
    color: $font-color;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

h1 {
    @include fontSize(6.9rem, normal, 600, uppercase);
}

h2 {
    @include fontSize(4.5rem, 9.98rem, 400, uppercase);
}

h3 {
    @include fontSize(4.0rem, 5.8rem, 400, uppercase);
    letter-spacing: 1.3px;
}

h4 {
    @include fontSize(2.5rem, 5.8rem, 400, uppercase);
    letter-spacing: 0.8px;
}

button {
    font-size: 2.24rem;
    line-height: 41.6px;
}

nav {
    @include fontSize(2rem, 2.9rem, 400, none);
    letter-spacing: 1px;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

i {
    font-size: 3rem;
}

a {
    color: $font-color;
}