/* colors */
$background-color: #2B331B;
$secondary-background-color: #171B0E;
$accent-color: #FFD300;
$font-color: #ffffff;
$secondary-font-color: #0F0F0F;

/* stripping style */
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
ul, 
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}

/* root size */

html {
    font-size: 62.5%;
    color: $font-color;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

h1 {
    font-size: 6.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 4.5rem;
    line-height: 9.98rem;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 4.0rem;
    line-height: 5.8rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

h4 {
    font-size: 2.5rem;
    line-height: 5.8rem;
    letter-spacing: 0.8p

}

button {
    font-size: 2.24rem;
    line-height: 41.6px;
}

nav {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.9rem;
    letter-spacing: 1px;
}

p {
    font-size: 2rem;
    line-height: 2.9rem;
}

i {
    font-size: 3rem;
}
