header {
    @include header-constant(url(../assets/home-header.jpg), 95vh);
    ul {
        display: flex;
        li {
            margin: 50px 15px;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
            a {
                color: $font-color;
                &:focus {
                    outline-color: $accent-color;
            }
            }
        }
    }
}

h1 {
    display: inline-flex;
    flex-direction: column;
}

.restaurant {
    background: $font-color;
    color: $secondary-font-color;
    display: inline-flex;
    height: 6.9rem;
}

.header-img {
    width: 50%;
    position: absolute;
    top: 30%;
    right: 0;
}