header {
    background: url(../assets/home-header.jpg);
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

a {
    color: $font-color;
}

ul {
    display: flex;
}

ul li {
    margin: 50px 25px;
    border-bottom: 3px solid transparent;
}

h1 {
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
}

.restaurant {
    background: $font-color;
    color: $secondary-font-color;
    display: inline-flex;
    height: 6.9rem;
}

.header-img {
    width: 50%;
    position: absolute;
    top: 30%;
    right: 0;
}