@media (max-width: 1205px) {
    .main-section {
        .right-side{
            right: -75px;
        }
    }
}
@media (max-width: 1075px) {
    .wrapper {
        width: 95%;
    }

    header{ 
        .header-img {
            width: 400px;
        }
    }

    .section-1-part-1,
    .section-1-part-2 {
        li {
            display: inline;
        }
    }

    .section-2 
        .article-1-image {
            left: -25px;
            top: 0;
        }
        .article-2-image {
            margin-top: 0;
        }
    
    .main-section {
        .left-side {
            left: -700px;
            position: absolute;
            width: 500px;
            box-shadow: none;
            .aside-image {
                left: 0;
            }
            .aside-container {
                padding: 20px;
                box-shadow: none;
                width: 100%;
            }
        }

        input[type="checkbox"]:checked + .left-side {
            left: 0;
            z-index: 10;
        }

        .right-side {
            position: static;
            width: 100%;
        }
    }

    .contact-section {
        section:last-of-type {
            position: static;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    img {
        margin: 0 auto;
    }

    h1 {
        font-size: 6.5rem;
        margin: 140px 20px;
    }

    .restaurant {
        height: 6.5rem;
    }

    header nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        background: $secondary-background-color;
        z-index: 10;
        width: 100px; 
        opacity: 0;
        right: 0px; 
        top: 0;
        height: 100vh;
        transition: all 0.5s; 
        li {
            margin: 30px auto;
        }
    }

    input[type="checkbox"]:checked + ul {
        opacity: 1;
    }

    header i.fa-bars {
        visibility: visible;
        position: fixed;
        top: 50px;
        left: 30px;
        color: white;
        z-index: 20;
    }

    .header-index {
        nav ul {
            height: 95vh;
        }
    }
    

    .read-more {
        display: block;
        margin: 20px auto;
    }

    .section-1-part-1,
    .section-1-part-2 {
        li {
            width: 100%;
            text-align: center;
            div {
                width: 100%;
            }
        }
    }

    .article-1 {
        &-image {
            width: 100%;
            position: static;
            margin-right: 0;
            min-height: auto;
        }
        &-container {
            width: 100%;
        }
    }

    .article-2 {
        flex-direction: column-reverse;
        h3 {
            margin-top: 50px;
        }
        &-image {
            width: 100%;
            position: static;
            margin-left: 0;
            min-height: auto;
        }
        &-container {
            text-align: left;
            width: 90%;
            margin: 50px;

        }
    }

    .section-3 {
        padding: 50px
    } 

    .section-5 {
        &-image {
            width: 100%;
            margin-left: 0;
        }
        &-container {
            width: 100%;
            margin: 50px 30px;
        }
    }

    .section-6 ul li {
        width: 100%;
        &:nth-of-type(2) {
            margin: 0;
        }
        margin: 20px 0;
    }

    .main-section {
        .left-side {
            .aside-image {
                left: -85px;
            }
        }
    }

    .blog-bottom {
        padding: 50px 10px;
        .comment-section {
            flex-direction: column;
            align-items: center;
            div:first-of-type {
                width: 100%;
            }
            &-container {
                width: 100%;
                margin:0;
            }
        }
    }


    .contact-section {
    .social-section {
            width: 100%;
            text-align: center;
            ul {
                justify-content: center;
                li {
                    margin: 0 20px;
                }
            }
        }
    section:last-of-type {
            width: 100%;
        }
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 5.5rem;
    }
    .restaurant {
        height: 5.5rem;
    }

    .section-2 {
        .article-2-container{
            width: 80%;
        }
    }

    .main-section {
        .left-side {
            display: none;
            box-shadow: none;
            .aside-img {
                img {
                box-shadow: none;
            }
        }
    }
        .right-side .blog-article-container{
            padding: 20px;
            box-shadow: none;
        }
    }

    form {
        margin: 0 20px;
        input[type=text],
        input[type=email] {
            width: 100%;
            margin: 20px 0;
        }
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 4rem;
        margin: 140px 0;
    }
    .restaurant {
        height: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 3rem;
    }


    nav {
        letter-spacing: 0;
        font-size: 1.6rem;
    }

    header{ 
        .header-img {
            bottom: -50px;
        }
    }
    .main-section {
        .right-side {
            position: static;
            .blog-article {
                img {
                    position: static;
                    box-shadow: none;
                }
            }
            .blog-article-container {
                box-shadow: none;
            }
        }
    }
}

