@media (max-width: 1205px) {
    .main-section {
        .right-side{
            right: -75px;
        }
    }
}
@media (max-width: 1075px) {
    .wrapper {
        width: 95%;
    }

    .header-img {
        display:none;
    }

    .section-1-part-1,
    .section-1-part-2 {
        li {
            display: inline;
            i {
                height: 15%;
            }
        }
    }

    .section-2 
        img{
            box-shadow: none;
        }
        &-image {
            position: static;
        }
    
    .main-section {
        .left-side {
            display: none;
            &:hover {
                display: block;
            }
        }

        .right-side {
            position: static;
            width: 100%;
        }

    }

    .contact-section {
        section:last-of-type {
            position: static;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    img {
        margin: 0 auto;
    }

    h1 {
        font-size: 6.5rem;
    }

    .restaurant {
        height: 6.5rem;
    }

    header nav {
        opacity: 0;
    }

    header i.fa-bars {
        visibility: visible;
    }

    .read-more {
        display: block;
        margin: 20px auto;
    }

    .section-1-part-1,
    .section-1-part-2 {
        li {
            width: 100%;
            text-align: center;
            div {
                width: 100%;
            }
        }
    }

    .article-1 {
        img {
            box-shadow: none;
        }
        &-image {
            width: 100%;
            position: static;
            margin-right: 0;
        }
        &-container {
            width: 100%;
            
        }
    }

    .article-2 {
        flex-direction: column-reverse;
        img {
            box-shadow: none;
        }
        h3 {
            margin-top: 50px;
        }
        &-image {
            width: 100%;
            margin-left: 0;
            position: static;
        }
        &-container {
            width: 90%;
        }
    }

    .section-3 {
        padding: 50px
    } 

    .section-5 {
        img {
            box-shadow: none;
        }
        &-image {
            width: 100%;
            margin-left: 0;
        }
        &-container {
            width: 100%;
            margin: 50px 30px;
        }
    }

    .section-6 ul li {
        width: 100%;
        &:nth-of-type(2) {
            margin: 0;
        }
        margin: 20px 0;
    }


    .contact-section {
    .social-section {
            width: 100%;
            text-align: center;
            ul {
                justify-content: center;
                li {
                    margin: 0 20px;
                }
            }
        }
    section:last-of-type {
            box-shadow: none;
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 5.5rem;
    }
    .restaurant {
        height: 5.5rem;
    }

    .section-1-part-1,
    .section-1-part-2 {
            li i {
                width: 10%;
            }
    }

    .main-section .right-side .blog-article-container{
        padding: 20px;
    }

    form {
        margin: 0 20px;
        input[type=text],
        input[type=email] {
            width: 100%;
            margin: 20px 0;
        }
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 4rem;
    }
    .restaurant {
        height: 4rem;
    }

    h2 {
        font-size: 3.4rem;
    }

    h3 {
        font-size: 3rem;
    }


    nav {
        letter-spacing: 0;
        font-size: 1.6rem;
    }
}
