/* colors */
$background-color: #2B331B;
$secondary-background-color: #171B0E;
$accent-color: #FFD300;
$font-color: #ffffff;
$secondary-font-color: #0F0F0F;

@mixin header-constant($url, $height) {
    background: $url;
    background-size: cover;
    height: $height;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;   
}

@mixin fontSize ($font-size, $line-height, $font-weight, $text-transform) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-transform: $text-transform;
}