@mixin header-constant($url, $height) {
    background: $url;
    background-size: cover;
    height: $height;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;   
}

@mixin fontSize ($font-size, $line-height, $font-weight, $text-transform) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-transform: $text-transform;
}