@mixin header-constant($url, $height) {
    background: $url;
    background-size: cover;
    height: $height;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;   
}