.section-1 {
    background: #2B331B;
}

.section-1 i {
    background: #FFD300;
    padding: 10px;
    border-radius: 50%;
    color: #000000;
}

.section-1 li {
    display: flex;
    flex-wrap: wrap;
}
