.section-2 {
    background: $secondary-background-color;
}

.article-1,
.article-2 {
    display: flex;
    flex-wrap: wrap;
}

.article-1-image,
.article-2-image {
    position: relative;
}

.article-1-image {
    top: -50px;
    left: -100px;
}

.article-2-image {
    bottom: -50px;
    right: -100px;
}

.article-1 img{
    box-shadow: 15px 15px 0px 5px $accent-color;
}

.article-2 img{
    box-shadow: -15px 15px 0px 5px $accent-color;
}

.article-1-container,
.article-2-container {
    margin: 50px 30px;
}

.article-1-image {
    margin-right: 60px;
}

.article-2-image {
    margin-left: 60px;
}

.article-1-container,
.article-2-container,
.article-1-image,
.article-2-image {
    width: calc(50% - 60px);
}


.read-more {
    background-color: $accent-color;
    color: $secondary-font-color;
    border: none;
    text-transform: uppercase;
    padding: 5px 10px 3px 10px;
    margin: 10px 0;
}

