.section-1 {
    background: $background-color;
}

.section-1 i {
    background: #FFD300;
    padding: 10px;
    border-radius: 50%;
    height: 10%;
    color: $secondary-font-color;
    // margin: 20px
}

.section-1 ul li {
    display: flex;
    flex-wrap: wrap;
}

