.section-1 {
    background: $background-color;
    padding: 150px 0;
    i {
        background: $accent-color;
        padding: 1%;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        color: $secondary-font-color;
        margin-top: 25px;
        margin-right: 10px;
        text-align: center;
    }
}
.section-1-part-1,
.section-1-part-2 {
    display: flex;
    flex-wrap: wrap;
    li {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        div {
            width: 90%;
        }
    }
}


