article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* colors */
/* stripping style */
body,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul,
li {
  list-style: none; }

/* root size */
html {
  font-size: 62.5%;
  color: #ffffff; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto; }

h1 {
  font-size: 6.9rem;
  line-height: normal;
  font-weight: 600;
  text-transform: uppercase; }

h2 {
  font-size: 4.5rem;
  line-height: 9.98rem;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-size: 4rem;
  line-height: 5.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px; }

h4 {
  font-size: 2.5rem;
  line-height: 5.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

button {
  font-size: 2.24rem;
  line-height: 41.6px; }

nav {
  font-size: 2rem;
  line-height: 2.9rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px; }

p {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1px; }

i {
  font-size: 2.5rem; }

a {
  color: #ffffff; }

header {
  background: url(../assets/home-header.jpg);
  background-size: cover;
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header ul li {
      margin: 50px 15px;
      border-bottom: 3px solid transparent; }
      header ul li:hover {
        border-bottom: 3px solid #FFD300; }
      header ul li a {
        color: #ffffff; }
        header ul li a:focus {
          outline-color: #FFD300; }

h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

header i.fa-bars {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 2rem;
  visibility: hidden; }

.restaurant {
  background: #ffffff;
  color: #0F0F0F;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6.9rem; }

.header-img {
  width: 50%;
  position: absolute;
  bottom: -100px;
  right: 0; }

.section-1 {
  background: #2B331B;
  padding: 150px 0; }
  .section-1 i {
    background: #FFD300;
    padding: 1%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #0F0F0F;
    margin-top: 25px;
    margin-right: 10px;
    text-align: center; }

.section-1-part-1,
.section-1-part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section-1-part-1 li,
  .section-1-part-2 li {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-1-part-1 li div,
    .section-1-part-2 li div {
      width: 90%; }

.section-2 {
  background: #171B0E;
  position: relative; }

.article-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .article-1 img {
    -webkit-box-shadow: 15px 15px 0px 5px #FFD300;
    box-shadow: 15px 15px 0px 5px #FFD300; }
  .article-1-image {
    position: relative;
    top: -50px;
    left: -100px;
    width: 50%;
    min-height: 500px; }
  .article-1-container {
    margin: 50px 40px 50px 60px;
    width: calc(50% - 100px); }

.article-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .article-2 img {
    -webkit-box-shadow: -15px 15px 0px 5px #FFD300;
    box-shadow: -15px 15px 0px 5px #FFD300; }
  .article-2-image {
    position: absolute;
    bottom: -150px;
    right: 0px;
    margin-left: 60px;
    width: calc(50% - 60px);
    min-height: 500px; }
  .article-2-container {
    text-align: right;
    margin: 50px 70px 50px -25px;
    width: calc(50% - 70px); }

.read-more {
  background-color: #FFD300;
  color: #0F0F0F;
  border: none;
  text-transform: uppercase;
  padding: 5px 10px 3px 10px;
  margin: 10px 0; }
  .read-more:hover, .read-more:focus {
    opacity: .5; }

.section-3 {
  background: #2B331B;
  text-align: center;
  padding: 100px; }
  .section-3 h2 {
    color: #FFD300; }
  .section-3 button {
    background-color: #0F0F0F;
    color: #ffffff; }

.section-4 img {
  margin: 0 auto; }

.section-5 {
  background: #2B331B;
  padding: 100px 0; }

.section-5-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-5-image {
  margin-left: 20px;
  width: calc(25% - 20px); }
  .section-5-image img {
    -webkit-box-shadow: -15px 15px 0px 5px #FFD300;
    box-shadow: -15px 15px 0px 5px #FFD300; }

.section-5-container {
  width: calc(75% - 50px);
  margin-left: 50px; }
  .section-5-container h2 {
    color: #FFD300;
    line-height: 5rem; }
  .section-5-container button {
    background-color: #0F0F0F;
    color: #ffffff; }

.section-6 {
  background: #171B0E; }
  .section-6 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0; }
    .section-6 ul li {
      width: calc((100% - 80px) / 3); }
      .section-6 ul li:nth-of-type(2) {
        margin: 0 40px; }

.blog-header {
  background: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

main {
  background: #2B331B; }

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }
  .main-section input[type="checkbox"] {
    opacity: 0; }
  .main-section .left-side {
    width: 30%;
    height: 30%;
    left: -15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 30px 9px 0px -8px #171B0E;
    box-shadow: 30px 9px 0px -8px #171B0E; }
    .main-section .left-side .aside-image {
      position: relative;
      left: -110px;
      width: 125%; }
    .main-section .left-side img {
      -webkit-box-shadow: 48px 9px 0px -3px #171B0E;
      box-shadow: 48px 9px 0px -3px #171B0E; }
    .main-section .left-side .aside-container {
      padding: 20px 0 20px 20px;
      background-color: #171B0E;
      width: 100%; }
      .main-section .left-side .aside-container h4 {
        color: #FFD300; }
        .main-section .left-side .aside-container h4:first-of-type {
          letter-spacing: 0; }
      .main-section .left-side .aside-container li {
        font-family: 'Barlow', sans-serif;
        list-style-type: disc;
        margin-left: 15px;
        font-size: 2rem; }
        .main-section .left-side .aside-container li a:hover {
          font-weight: 600; }
        .main-section .left-side .aside-container li a:focus {
          outline-color: #FFD300; }
  .main-section .right-side {
    width: 70%;
    position: relative;
    top: -200px;
    right: -100px; }
    .main-section .right-side .blog-article img {
      -webkit-box-shadow: -20px 20px 0px -4px #FFD300;
      box-shadow: -20px 20px 0px -4px #FFD300;
      position: relative;
      right: 0px; }
    .main-section .right-side .blog-article-container {
      -webkit-box-shadow: 0px 8px 0px 8px #2B331B, -5px 11px 0 11px #FFD300;
      box-shadow: 0px 8px 0px 8px #2B331B, -5px 11px 0 11px #FFD300;
      padding: 40px 20px 40px 60px; }
      .main-section .right-side .blog-article-container h2 {
        color: #FFD300; }
        .main-section .right-side .blog-article-container h2 + p {
          font-weight: 800; }
      .main-section .right-side .blog-article-container p {
        padding: 10px 0; }

.blog-bottom {
  padding: 50px 70px; }
  .blog-bottom h3 {
    color: #ffffff; }
  .blog-bottom .comment-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 0; }
    .blog-bottom .comment-section div:first-of-type {
      width: 10%;
      margin-top: 8px; }
    .blog-bottom .comment-section-container {
      width: calc(90% - 20px);
      margin-left: 20px; }
      .blog-bottom .comment-section-container p:first-of-type {
        color: #FFD300;
        font-weight: 600; }

.contact-header {
  background: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contact-section .social-section {
    width: 35%;
    margin: 50px 0; }
    .contact-section .social-section ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .contact-section .social-section ul li {
        margin-right: 30px; }
        .contact-section .social-section ul li i {
          font-size: 2.5rem; }
          .contact-section .social-section ul li i:hover {
            color: #FFD300; }
          .contact-section .social-section ul li i:focus {
            outline-color: #FFD300; }
    .contact-section .social-section .contact-text {
      font-style: normal; }
      .contact-section .social-section .contact-text p:first-of-type {
        padding: 20px 0; }
      .contact-section .social-section .contact-text p a:hover {
        color: #FFD300; }
  .contact-section section:last-of-type {
    background: #171B0E;
    -webkit-box-shadow: 18px 18px 0px -4px #FFD300;
    box-shadow: 18px 18px 0px -4px #FFD300;
    width: 65%;
    position: relative;
    bottom: 100px;
    left: 50px; }
  .contact-section form input[type=text]:focus,
  .contact-section form input[type=email]:focus,
  .contact-section form textarea:focus {
    background-color: #2B331B; }

form {
  margin: 0 60px;
  font-size: 1.6rem; }
  form ::-webkit-input-placeholder {
    color: #ffffff; }
  form :-ms-input-placeholder {
    color: #ffffff; }
  form ::-ms-input-placeholder {
    color: #ffffff; }
  form ::placeholder {
    color: #ffffff; }
  form input {
    margin: 40px 0;
    padding: 10px;
    color: #ffffff; }
    form input:hover {
      border: 3px solid #FFD300; }
  form input[type=text],
  form input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFD300;
    display: inline-block;
    width: 50%; }
    form input[type=text]:focus,
    form input[type=email]:focus {
      background-color: #171B0E; }
  form input[type=text] {
    margin-right: 20px;
    width: calc(50% - 30px); }
  form textarea {
    background: transparent;
    border: 1px solid #FFD300;
    resize: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: #ffffff; }
    form textarea:focus {
      background-color: #171B0E; }
  form input[type=submit] {
    background: #FFD300;
    color: #0F0F0F;
    border: none;
    text-transform: uppercase;
    display: block;
    width: 100%; }
    form input[type=submit]:hover, form input[type=submit]:focus {
      opacity: 0.5; }

footer {
  background: #0F0F0F;
  text-align: center;
  padding: 10px; }
  footer h5 {
    font-size: 2rem; }

@media (max-width: 1205px) {
  .main-section .right-side {
    right: -75px; } }

@media (max-width: 1075px) {
  .wrapper {
    width: 95%; }
  header .header-img {
    width: 400px; }
  .section-1-part-1 li,
  .section-1-part-2 li {
    display: inline; }
  .section-2
.article-1-image {
    left: -25px;
    top: 0; }
  .article-2-image {
    margin-top: 0; }
  .main-section .left-side {
    left: -700px;
    position: absolute;
    width: 500px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .main-section .left-side .aside-image {
      left: 0; }
    .main-section .left-side .aside-container {
      padding: 20px;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 100%; }
  .main-section input[type="checkbox"]:checked + .left-side {
    left: 0;
    z-index: 10; }
  .main-section .right-side {
    position: static;
    width: 100%; }
  .contact-section section:last-of-type {
    position: static;
    margin-bottom: 30px; } }

@media (max-width: 768px) {
  .wrapper {
    width: 100%; }
  img {
    margin: 0 auto; }
  h1 {
    font-size: 6.5rem; }
  .restaurant {
    height: 6.5rem; }
  header nav {
    opacity: 0; }
  header i.fa-bars {
    visibility: visible; }
  .read-more {
    display: block;
    margin: 20px auto; }
  .section-1-part-1 li,
  .section-1-part-2 li {
    width: 100%;
    text-align: center; }
    .section-1-part-1 li div,
    .section-1-part-2 li div {
      width: 100%; }
  .article-1-image {
    width: 100%;
    position: static;
    margin-right: 0;
    min-height: auto; }
  .article-1-container {
    width: 100%; }
  .article-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .article-2 h3 {
      margin-top: 50px; }
    .article-2-image {
      width: 100%;
      position: static;
      margin-left: 0;
      min-height: auto; }
    .article-2-container {
      text-align: left;
      width: 90%;
      margin: 50px; }
  .section-3 {
    padding: 50px; }
  .section-5-image {
    width: 100%;
    margin-left: 0; }
  .section-5-container {
    width: 100%;
    margin: 50px 30px; }
  .section-6 ul li {
    width: 100%;
    margin: 20px 0; }
    .section-6 ul li:nth-of-type(2) {
      margin: 0; }
  .main-section .left-side .aside-image {
    left: -85px; }
  .blog-bottom {
    padding: 50px 10px; }
    .blog-bottom .comment-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .blog-bottom .comment-section div:first-of-type {
        width: 100%; }
      .blog-bottom .comment-section-container {
        width: 100%;
        margin: 0; }
  .contact-section .social-section {
    width: 100%;
    text-align: center; }
    .contact-section .social-section ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .contact-section .social-section ul li {
        margin: 0 20px; }
  .contact-section section:last-of-type {
    width: 100%; } }

@media (max-width: 560px) {
  h1 {
    font-size: 5.5rem; }
  .restaurant {
    height: 5.5rem; }
  .section-2 .article-2-container {
    width: 80%; }
  .main-section .left-side {
    display: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .main-section .left-side .aside-img img {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .main-section .right-side .blog-article-container {
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  form {
    margin: 0 20px; }
    form input[type=text],
    form input[type=email] {
      width: 100%;
      margin: 20px 0; } }

@media (max-width: 425px) {
  h1 {
    font-size: 4rem; }
  .restaurant {
    height: 4rem; }
  h2 {
    font-size: 3.4rem; }
  h3 {
    font-size: 3rem; }
  nav {
    letter-spacing: 0;
    font-size: 1.6rem; }
  header .header-img {
    bottom: -50px; }
  .main-section .right-side {
    position: static; }
    .main-section .right-side .blog-article img {
      position: static;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .main-section .right-side .blog-article-container {
      -webkit-box-shadow: none;
      box-shadow: none; } }
